.ui-checkbox {
  input {
    display: none;
    &:checked ~ label {
      &::after {
        transform: translateY(-50%) scale(1);
      }
    }
  }
  label {
    position: relative;
    display: block;
    padding-left: 30px;
    font: 18px/1.1 $font;
    cursor: pointer;
    @include media-laptop {
      font-size: 16px;
    }
    @include media-tablet {
      font-size: 13px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 19px;
      height: 19px;
      border: 1px solid $black;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.2s ease;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%) scale(0);
      width: 13px;
      height: 13px;
      background: $green;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
}
