mixin benefits(mods)
  -
    const baseName = 'benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      {
        name: 'Паркинг',
        text: 'В жилом комплексе предусмотрено 63 машино-места в подземном паркинге с устройством современных противопожарных систем.',
      },
      {
        name: 'Система безопасности',
        text: 'За порядком на территории жилого комплекса установлены видеокамеры, а контроль въезда на территорию паркинга осуществляется через КПП.',
      },
      {
        name: 'Территория',
        text: 'Проектируемый объект представляет собой цельный архитектурный ансамбль, в который включены: здания, элементы благоустройства, озеленения, малые архитектурные формы.',
      },
      {
        name: 'Благоустройство',
        text: 'На территории предполагаются современные деревянные детские площадки с резиновым покрытием. Озеленение предусматривает устройство газонов. Установка малых архитектурных форм и переносных изделий дополняет архитектурную выразительность проектируемого здания и обеспечивает необходимый комфорт для жильцов.',
      },
      {
        name: 'Пожарная сигнализация',
        text: 'Пожарную безопасность контролируют датчики задымления и сигнализация, а, так же системы оповещения и управления эвакуацией.',
      },
      {
        name: 'Закрытые дворы',
        text: 'Обеспечат приватность и безопасное место прогулок для детей возможностью доступа только по магнитным ключам.',
      },
      {
        name: 'Фасады',
        text: 'В оформлении фасадов зданий используются различные композиционные приемы. Сопоставление цветовых элементов, деталей, фактуры и цвета. В оформлении фасадов зданий используются различные композиционные приемы. Сопоставление цветовых элементов, деталей, фактуры и цвета.',
      },
    ]

  .benefits(class=allMods)&attributes(attributes)
    +ui-h2('Комфорт', 'benefits')
      =' '
      span.ui-h2__attention и безопасность
    .benefits__container
      each item in data
        .benefits__item
          .benefits__name !{item.name}
          .benefits__text
            .benefits__text-inner !{item.text}
    block
