.ui-slider-pagination {
  position: static;
  text-align: center;
  font-size: 0;
  .swiper-pagination-bullet {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 3px;
    background-color: #fff;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $green;
    }
  }
}
