// fonts
$font: 'Montserrat', 'Arial', sans-serif;
$fontSerif: 'FoglihtenNo06', 'Times New Roman', serif;

// colors
$black: #1c1c1c;
$green: #0c7e7f;

// media
$mediaWidthDesktop: 1480px;
$mediaWidthLaptop: 1259px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
