block variables
include ../blocks/mixins

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
      link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
      link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
      link(rel='manifest', href='/site.webmanifest')
      link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
      meta(name='msapplication-TileColor', content='#da532c')
      meta(name='theme-color', content='#ffffff')
      link(href='.' rel='icon' type='image/x-icon')
      link(rel='stylesheet' href='styles/style.css')
      link(rel='stylesheet' href='blocks/banner/banner.css')
      link(rel='stylesheet' href='blocks/about/about.css')
      link(rel='stylesheet' href='blocks/infrastructure/infrastructure.css')
      link(rel='stylesheet' href='blocks/reasons/reasons.css')
      link(rel='stylesheet' href='blocks/gallery/gallery.css')
      link(rel='stylesheet' href='blocks/benefits/benefits.css')
      link(rel='stylesheet' href='blocks/form/form.css')
  body
    .wrapper
      block header
        include ../blocks/header/header
      block content
      block footer
        include ../blocks/footer/footer
    block scripts
      script(src='libs/swiper/swiper-bundle.js')
      script(src='libs/jquery/jquery-3.6.0.min.js')
      script(src='js/index.js')
