block variables
include ../blocks/mixins

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(rel='stylesheet' href='libs/swiper/swiper-bundle.css')
      link(rel='stylesheet' href='styles/style.css')
      link(rel='stylesheet' href='blocks/banner/banner.css')
      link(rel='stylesheet' href='blocks/about/about.css')
      link(rel='stylesheet' href='blocks/infrastructure/infrastructure.css')
      link(rel='stylesheet' href='blocks/reasons/reasons.css')
      link(rel='stylesheet' href='blocks/gallery/gallery.css')
      link(rel='stylesheet' href='blocks/benefits/benefits.css')
      link(rel='stylesheet' href='blocks/form/form.css')
  body
    .wrapper
      block header
        include ../blocks/header/header
      block content
      block footer
        include ../blocks/footer/footer
    block scripts
      script(src='libs/swiper/swiper-bundle.js')
      script(src='libs/jquery/jquery-3.6.0.min.js')
      script(src='js/index.js')
