-
  const menu = [
    {
      text: 'О проекте',
      link: '#about',
    },
    {
      text: 'Инфраструктура',
      link: '#infrastructure',
    },
    {
      text: 'Преимущества',
      link: '#reasons',
    },
  ]

header.header
  .inner
    .header__burger
      span
      span
    a.header__logo(href='/')
      +logo
    .header__content
      a.header__tel(href='tel:+74735520988')
        span +7(473)552-09-88
        svg(width='19', height='19', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M18 13.728v2.559a1.704 1.704 0 0 1-1.162 1.623 1.712 1.712 0 0 1-.702.083 16.938 16.938 0 0 1-7.376-2.619 16.652 16.652 0 0 1-5.129-5.118A16.86 16.86 0 0 1 1.007 2.86a1.703 1.703 0 0 1 1.012-1.714C2.236 1.05 2.47 1 2.708 1h2.564a1.712 1.712 0 0 1 1.71 1.467c.108.82.309 1.623.598 2.397a1.703 1.703 0 0 1-.385 1.8L6.11 7.748a13.663 13.663 0 0 0 5.128 5.118l1.086-1.083a1.71 1.71 0 0 1 1.803-.384c.776.289 1.582.489 2.402.597A1.71 1.71 0 0 1 18 13.728Z', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round')
      .header__container
        ul.header__menu
          each item in menu
            li.header__item
              a.header__link(href=item.link) !{item.text}
        +ui-button('Заказать звонок', 'header')(href='#')
  .header__shadow
